html, body {
	font-family: "Lato", sans-serif;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-weight: lighter;
	line-height: 1.7;
	background-image: url(https://i.imgur.com/VU4Bvo4.jpg);
}

.github-link {
	text-align: center;
	font-size: 25px;
}

.site-description {
	text-align: center;
	max-width: 65%;
	min-height: 500px;
}

.page-title {
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	border: 3px solid black;
	border-width: thin;
}

.page-subtitle {
	font-size: 35px;
	text-align: center;
}

.container {
	display: flex;
	background-size: cover;
	background-repeat: no-repeat;
}

/* Navagation */

/*This nav class was used for a nav bar that would be displayed on the left side of the page and would be listed down with bullet points.*/
.oldnav {
	background-image: url(http://66.media.tumblr.com/58c31b332e6d447253e30cf67b7c1c54/tumblr_o23jekLo981u8wonlo1_500.jpg);
	background-size: cover;
	background-position: center;
	max-width: 25%;
	min-width: 140px;
	flex: 1;
}
/*This is the currect nav class and is displayed horizontally.*/
.navbeta li{
	display: inline;
}

.current-city {
	padding-right: 5px;
}

.main {
	min-width: 75%;
}
